

.w-65{
  width: 65%;
}

.client_section img{
  width: 100px;
}
.client_section .heading_container {
  margin-bottom: 30px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.client_section .box .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin-bottom: -50px;
  margin-left: 25px;
  position: relative;
}

.client_section .box .img-box img {
  border-radius: 100%;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_section .box .client_id .client_info h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.client_section .box .client_id .client_info p {
  margin-bottom: 0;
  font-size: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding: 75px 25px 25px 25px;
}

.client_section .box .detail-box i {
  color: #00204a;
  margin-bottom: 10px;
}

.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  color: #00204a;
}

.btn-new{
  background-color: #F57F20;
  color: white;
}
.btn-new:hover{
  border: 3px solid #F57F20;
  color: white;
}




.hero {
    /* background-image: linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.4)) ,url('Images/asian-g503f1fa1d_1280.jpg'); */
    background: linear-gradient(130deg, rgb(0,0,0, 0.9),  rgb(76, 148, 207, 0)), url('../Images/Screenshot\ 2024-07-03\ 131038.png'); 
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    margin-top: 70px;
    background-attachment: fixed;
  }

  .clients .swiper-slide img {
    opacity: 1;
    transition: 0.3s;
  }
  
  .clients .swiper-slide img:hover {
    opacity: 1;
  }
  
  .clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #4c94cf;
  }
  
  .clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4c94cf;
  }


  .cowa{
    width: 30%;
  }

  svg{
    display: block;
  }
  
  #about{
    /* border-radius: 0px 0px 30% 30%; */
    position: relative;
  }

  /* Custom Styles */



  .card-height{
    height: 100%;
  }

  #services{
    /* background-image: linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.7)) ,url('Images/—Pngtree—simple\ e-commerce\ jobs\ career_936057.jpg');
    background-size: cover; */
    /* background: linear-gradient(130deg, #4c94cf, #122647); */

  }

  .text-justify{
    text-align: justify;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .line-height{
    line-height: 27px;
  }

  .text-end{
    text-align: end;
  }
 
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  .pt-6{
    padding-top: 6rem;
  }
  .pb-6{
    padding-bottom: 6rem;
  }
  .pb-7{
    padding-bottom: 7rem;
  }
  .pb-8{
    padding-bottom: 8rem;
  }

  .pt-7{
    padding-top: 7rem;
  }
  .mt-6{
    margin-top: 6rem;
  }
  .mt-7{
    margin-top: 7rem;
  }
  .mt-8{
    margin-top: 8rem;
  }
  .mt-10{
    margin-top: 10rem;
  }

  .bg-white{
    background-color: #ffffff;
  }

  .my-6{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .mb-6{
    margin-bottom: 6rem;
  }

  .dark{
    background-color: black;
    color: white;
  }

  
  .logo-color{
    /* background: linear-gradient(130deg, #122647,  #4c94cf); */
    background: linear-gradient(180deg, #d7701c,  #000000);
    color: white;
  }
  .logo-color2{
    background-color: #122647;
    color: white;
  }

  .my-7{
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .bg-logo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('Images/logo.jpg');
  }

  .py-7{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .py-6{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .animate{
    animation-name: animate;
    animation-duration: 1s; 
  }

  @keyframes animate {
    0%{
      opacity: 0;
      transition: transform 1s;
      margin-left: -500px;

    }
    100%  {
      transform: rotate(360deg);
    }
  }

  body{
    overflow-x: hidden;
    padding: 0;
  }

  
  @media screen and (max-width: 574px) {
    .links{
      flex: 0 0 auto;
    width: 10%;
    margin: auto;
    }
    
    .hero{
      display: flex;
      justify-content: center;
      text-align: center;
    }

    html{
      overflow: scroll;
    }
  }

  @media screen and (max-width: 767px) {
    .col-sm-6 {
      width: 80%;
      text-align: center; 
      margin-left: 1.5rem;
    }

    
  }